.services {
  background: #000;
  color: #f3f0ec;
  font-family: sans-serif;
}



/* ================= GRID SERVICIOS ================= */

.services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 120px;
  row-gap: 50px;

  max-width: 1000px;
  margin: 0 auto 130px;
  padding: 0 20px;
}

/* ================= PRECIOS ================= */

.prices {
  width: 100%;
  background: #1a1a1a;
  padding: 100px 20px;
}

.prices__container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 160px;
  row-gap: 50px;
}

.price {
  display: flex;
  flex-direction: column;
}

.price__top {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.price h4 {
  font-size: 0.85rem;
  letter-spacing: 0.25em;
  color: #f3f0ec;
  margin: 0;
  white-space: nowrap;
}

.line {
  flex: 1;
  height: 1px;
  background: rgba(212, 175, 55, 0.4);
}

.price span {
  font-size: 1.4rem;
  color: #f3f0ec;
  font-weight: 600;
  white-space: nowrap;
}

.price p {
  font-size: 0.78rem;
  color: #bbb;
  margin-top: 6px;
  line-height: 1.5;
}

/* ================= RESPONSIVE ================= */

/* 768px */
@media (max-width: 768px) {

  .section__title {
    font-size: 3.2rem;
    letter-spacing: 0.1em;
  }

  .services__grid {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 40px;
  }

  .prices__container {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 40px;
  }
}